In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import os

In [2]:
train=pd.read_csv('./train_fwYjLYX.csv')
test=pd.read_csv('./test_1eLl9Yf.csv')

In [3]:
train.head()

  application_date  segment  branch_id        state  zone  case_count
0       2017-04-01        1        1.0  WEST BENGAL  EAST        40.0
1       2017-04-03        1        1.0  WEST BENGAL  EAST         5.0
2       2017-04-04        1        1.0  WEST BENGAL  EAST         4.0
3       2017-04-05        1        1.0  WEST BENGAL  EAST       113.0
4       2017-04-07        1        1.0  WEST BENGAL  EAST        76.0

In [4]:
import holidays
from datetime import date
ind_holiday= holidays.IND(years=[2017,2018,2019])
ind_holiday

{datetime.date(2017, 1, 14): 'Makar Sankranti / Pongal',
 datetime.date(2017, 1, 26): 'Republic Day',
 datetime.date(2017, 8, 15): 'Independence Day',
 datetime.date(2017, 10, 2): 'Gandhi Jayanti',
 datetime.date(2017, 5, 1): 'Labour Day',
 datetime.date(2017, 12, 25): 'Christmas',
 datetime.date(2018, 1, 14): 'Makar Sankranti / Pongal',
 datetime.date(2018, 1, 26): 'Republic Day',
 datetime.date(2018, 8, 15): 'Independence Day',
 datetime.date(2018, 10, 2): 'Gandhi Jayanti',
 datetime.date(2018, 5, 1): 'Labour Day',
 datetime.date(2018, 12, 25): 'Christmas',
 datetime.date(2019, 1, 14): 'Makar Sankranti / Pongal',
 datetime.date(2019, 1, 26): 'Republic Day',
 datetime.date(2019, 8, 15): 'Independence Day',
 datetime.date(2019, 10, 2): 'Gandhi Jayanti',
 datetime.date(2019, 5, 1): 'Labour Day',
 datetime.date(2019, 12, 25): 'Christmas'}

In [5]:
hol=['2017-02-24','2017-03-13','2017-03-28','2017-04-05','2017-04-09','2017-04-14','2017-05-10','2017-06-25'
,'2017-06-26','2017-08-07','2017-09-30','2017-10-02','2017-10-19','2018-02-24','2018-03-13','2018-03-28','2018-04-05','2018-04-09','2018-04-14','2018-05-10','2018-06-25',
'2018-06-26','2018-08-07','2018-09-30','2018-10-02','2018-10-19','2019-02-24','2019-03-13','2019-03-28','2019-04-05','2019-04-09','2019-04-14','2019-05-10','2019-06-25',
'2019-06-26','2019-08-07','2019-09-30','2019-10-02','2019-10-19']

for date, name in sorted(ind_holiday.items()):
    print(str(date),name)
    hol.append(str(date))
hol

2017-01-14 Makar Sankranti / Pongal
2017-01-26 Republic Day
2017-05-01 Labour Day
2017-08-15 Independence Day
2017-10-02 Gandhi Jayanti
2017-12-25 Christmas
2018-01-14 Makar Sankranti / Pongal
2018-01-26 Republic Day
2018-05-01 Labour Day
2018-08-15 Independence Day
2018-10-02 Gandhi Jayanti
2018-12-25 Christmas
2019-01-14 Makar Sankranti / Pongal
2019-01-26 Republic Day
2019-05-01 Labour Day
2019-08-15 Independence Day
2019-10-02 Gandhi Jayanti
2019-12-25 Christmas

['2017-02-24',
 '2017-03-13',
 '2017-03-28',
 '2017-04-05',
 '2017-04-09',
 '2017-04-14',
 '2017-05-10',
 '2017-06-25',
 '2017-06-26',
 '2017-08-07',
 '2017-09-30',
 '2017-10-02',
 '2017-10-19',
 '2018-02-24',
 '2018-03-13',
 '2018-03-28',
 '2018-04-05',
 '2018-04-09',
 '2018-04-14',
 '2018-05-10',
 '2018-06-25',
 '2018-06-26',
 '2018-08-07',
 '2018-09-30',
 '2018-10-02',
 '2018-10-19',
 '2019-02-24',
 '2019-03-13',
 '2019-03-28',
 '2019-04-05',
 '2019-04-09',
 '2019-04-14',
 '2019-05-10',
 '2019-06-25',
 '2019-06-26',
 '2019-08-07',
 '2019-09-30',
 '2019-10-02',
 '2019-10-19',
 '2017-01-14',
 '2017-01-26',
 '2017-05-01',
 '2017-08-15',
 '2017-10-02',
 '2017-12-25',
 '2018-01-14',
 '2018-01-26',
 '2018-05-01',
 '2018-08-15',
 '2018-10-02',
 '2018-12-25',
 '2019-01-14',
 '2019-01-26',
 '2019-05-01',
 '2019-08-15',
 '2019-10-02',
 '2019-12-25']

In [6]:
def mean_absolute_percentage_error(y_true,y_pred):
    y_true,y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred)/y_true))*100

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80402 entries, 0 to 80401
Data columns (total 6 columns):
application_date    80402 non-null object
segment             80402 non-null int64
branch_id           66898 non-null float64
state               80402 non-null object
zone                66898 non-null object
case_count          80402 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 3.7+ MB

In [8]:
train.nunique()

application_date     844
segment                2
branch_id             83
state                 20
zone                   5
case_count          3245
dtype: int64

In [9]:
train['segment'].value_counts()

1    66898
2    13504
Name: segment, dtype: int64

In [10]:
train['application_date'] = pd.to_datetime(train['application_date'],format='%Y-%m-%d')
test['application_date'] = pd.to_datetime(test['application_date'],format='%Y-%m-%d')

In [11]:
train1_seg=train[train['segment']== 1].groupby(['application_date']).sum().reset_index()[['application_date','case_count']].sort_values('application_date')
train2_seg=train[train['segment']== 2].groupby(['application_date']).sum().reset_index()[['application_date','case_count']].sort_values('application_date')

In [12]:
train1_seg.head()

  application_date  case_count
0       2017-04-01       299.0
1       2017-04-03        42.0
2       2017-04-04        23.0
3       2017-04-05      1530.0
4       2017-04-07      1341.0

In [24]:
def create_date_features(df):
    df['date']=df.application_date
    df['Year'] = pd.to_datetime(df['application_date']).dt.year
    df['Month'] = pd.to_datetime(df['application_date']).dt.month
    df['Day'] = pd.to_datetime(df['application_date']).dt.day
    df['Dayofweek'] = pd.to_datetime(df['application_date']).dt.dayofweek
    df['DayOfyear'] = pd.to_datetime(df['application_date']).dt.dayofyear
    df['Week'] = pd.to_datetime(df['application_date']).dt.week 
    df['Quarter'] = pd.to_datetime(df['application_date']).dt.quarter  
    df['Is_month_start'] = pd.to_datetime(df['application_date']).dt.is_month_start 
    df['Is_month_end'] = pd.to_datetime(df['application_date']).dt.is_month_end 
    df['Is_quarter_start'] = pd.to_datetime(df['application_date']).dt.is_quarter_start
    df['Is_quarter_end'] = pd.to_datetime(df['application_date']).dt.is_quarter_end 
    df['Is_year_start'] = pd.to_datetime(df['application_date']).dt.is_year_start 
    df['Is_year_end'] = pd.to_datetime(df['application_date']).dt.is_year_end
    df['Semester'] = np.where(df['Quarter'].isin([1,2]),1,2)
    

    x=df.drop(['date','application_date'],axis=1)
    
    return x

In [25]:
train1_s1= create_date_features(train1_seg)
train2_s2= create_date_features(train2_seg)

In [26]:
train1_s1

,case_count,Year,Month,Day,Dayofweek,DayOfyear,Week,Quarter,Is_month_start,Is_month_end,Is_quarter_start,Is_quarter_end,Is_year_start,Is_year_end,Semester
0,299.0,2017,4,1,5,91,13,2,True,False,True,False,False,False,1
1,42.0,2017,4,3,0,93,14,2,False,False,False,False,False,False,1
2,23.0,2017,4,4,1,94,14,2,False,False,False,False,False,False,1
3,1530.0,2017,4,5,2,95,14,2,False,False,False,False,False,False,1
4,1341.0,2017,4,7,4,97,14,2,False,False,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,3650.0,2019,7,1,0,182,27,3,True,False,True,False,False,False,2
802,3212.0,2019,7,2,1,183,27,3,False,False,False,False,False,False,2
803,3824.0,2019,7,3,2,184,27,3,False,False,False,False,False,False,2
804,4240.0,2019,7,4,3,185,27,3,False,False,False,False,False,False,2
805,13.0,2019,7,5,4,186,27,3,False,False,False,False,False,False,2

In [27]:
train1_s1.case_count.describe()

count      806.000000
mean      2714.689826
std       2042.418090
min          1.000000
25%       1633.250000
50%       2602.000000
75%       3333.000000
max      21885.000000
Name: case_count, dtype: float64

In [28]:
train1_s1 = train1_s1[train1_s1['case_count'] > 15].reset_index(drop=True)
train1_s1 = train1_s1[train1_s1['case_count'] <= 8000].reset_index(drop=True)
train2_s2 = train2_s2[(train2_s2['case_count'] < 40000)].reset_index(drop=True)

In [29]:
train1_s1.shape,train2_s2.shape

((780, 15), (843, 15))

####   Train test split
####   Business Segment 1

#### Random Forest Regressor

In [30]:
from sklearn.model_selection import train_test_split
X= train1_s1.drop(labels=['case_count'],axis=1)
y= train1_s1['case_count'].values

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [31]:
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((585, 14), (585,), (195, 14), (195,))

In [32]:
from sklearn.ensemble import BaggingRegressor,RandomForestRegressor
rf= RandomForestRegressor(random_state=0)

In [33]:
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
print('MAPE:', mean_absolute_percentage_error(y_test,y_pred))

MAPE: 99.02856859207199

####   Business Segment 2

In [34]:
from sklearn.model_selection import train_test_split
X= train2_s2.drop(labels=['case_count'],axis=1)
y= train2_s2['case_count'].values

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)
X_train.shape,y_train.shape,X_test.shape,y_test.shape
from sklearn.ensemble import BaggingRegressor,RandomForestRegressor
rf= RandomForestRegressor(random_state=0)
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
print('MAPE:', mean_absolute_percentage_error(y_test,y_pred))

MAPE: 33.84253191930627

#### Prediction on test

In [35]:
test.head()

   id application_date  segment
0   1       2019-07-06        1
1   2       2019-07-07        1
2   3       2019-07-08        1
3   4       2019-07-09        1
4   5       2019-07-10        1

In [36]:
test1 = test[test['segment'] == 1][['application_date']].sort_values('application_date')
test2 = test[test['segment'] == 2][['application_date']].sort_values('application_date')

In [37]:
test1 = create_date_features(test1)
test2 = create_date_features(test2)

In [38]:
test1.shape,test2.shape

((87, 14), (93, 14))

In [39]:
X= train1_s1.drop(labels=['case_count'],axis=1)
y= train1_s1['case_count'].values
Xtest = test1

In [40]:
#Business Segment 1

from sklearn.model_selection import KFold
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor

rs = 101
errlgb = []
y_pred_totlgb = []

fold = KFold(n_splits=15, shuffle=True, random_state=rs)

for train_index, test_index in fold.split(X):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    #br = RandomForestRegressor(random_state=rs)
    br = BaggingRegressor(n_estimators=10, random_state=1)
    br.fit(X_train, y_train)
    y_pred = br.predict(X_test)
    print("MAPE: ", mean_absolute_percentage_error(y_test, y_pred))
    errlgb.append(mean_absolute_percentage_error(y_test, y_pred))
    p = br.predict(Xtest)    
    y_pred_totlgb.append(p)

MAPE:  136.03094082832519
MAPE:  51.04395194882338
MAPE:  85.54266111447645
MAPE:  365.1379441742534
MAPE:  73.14484345384611
MAPE:  85.65483694127006
MAPE:  70.55313000875516
MAPE:  83.10946100681332
MAPE:  20.10661096949472
MAPE:  131.68965696218788
MAPE:  71.30920867720121
MAPE:  31.558106023668586
MAPE:  54.07107014996394
MAPE:  221.90457333586178
MAPE:  124.7929550727521

In [41]:
np.mean(errlgb)

107.04333004451291

In [42]:
y_pred1 = np.mean(y_pred_totlgb,0)
test1['case_count'] = y_pred1
test1.head()

,Year,Month,Day,Dayofweek,DayOfyear,Week,Quarter,Is_month_start,Is_month_end,Is_quarter_start,Is_quarter_end,Is_year_start,Is_year_end,Semester,case_count
0,2019,7,6,5,187,27,3,False,False,False,False,False,False,2,2870.553333
1,2019,7,7,6,188,27,3,False,False,False,False,False,False,2,1746.013333
2,2019,7,8,0,189,28,3,False,False,False,False,False,False,2,4109.833333
3,2019,7,9,1,190,28,3,False,False,False,False,False,False,2,3505.406667
4,2019,7,10,2,191,28,3,False,False,False,False,False,False,2,3673.040000

In [43]:
test1.drop('case_count', axis=1, inplace=True)

In [44]:
##Business Segment 2
X= train2_s2.drop(labels=['case_count'],axis=1)
y= train2_s2['case_count'].values
Xtest = test2

In [45]:
from sklearn.model_selection import KFold
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor

rs = 101
errlgb = []
y_pred_totlgb = []

fold = KFold(n_splits=15, shuffle=True, random_state=rs)

for train_index, test_index in fold.split(X):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    #br = RandomForestRegressor(random_state=rs)
    br = BaggingRegressor(n_estimators=10, random_state=1)
    br.fit(X_train, y_train)
    y_pred = br.predict(X_test)
    print("MAPE: ", mean_absolute_percentage_error(y_test, y_pred))
    errlgb.append(mean_absolute_percentage_error(y_test, y_pred))
    p = br.predict(Xtest)    
    y_pred_totlgb.append(p)

MAPE:  24.56080232190273
MAPE:  22.46869038531167
MAPE:  91.297017550397
MAPE:  18.50890170944098
MAPE:  27.08184654754199
MAPE:  35.94465115498145
MAPE:  19.112150665250525
MAPE:  20.330024644634577
MAPE:  19.756747984516547
MAPE:  16.924992014578823
MAPE:  32.398925587244506
MAPE:  23.208050249636543
MAPE:  19.96766336001579
MAPE:  19.636154570816654
MAPE:  23.897265376083755

In [46]:
np.mean(errlgb)

27.672925608156902

In [47]:
y_pred2 = np.mean(y_pred_totlgb,0)
test2['case_count'] = y_pred2
test2.head()

,Year,Month,Day,Dayofweek,DayOfyear,Week,Quarter,Is_month_start,Is_month_end,Is_quarter_start,Is_quarter_end,Is_year_start,Is_year_end,Semester,case_count
87,2019,7,24,2,205,30,3,False,False,False,False,False,False,2,27311.500000
88,2019,7,25,3,206,30,3,False,False,False,False,False,False,2,26199.973333
89,2019,7,26,4,207,30,3,False,False,False,False,False,False,2,25162.266667
90,2019,7,27,5,208,30,3,False,False,False,False,False,False,2,22936.573333
91,2019,7,28,6,209,30,3,False,False,False,False,False,False,2,16172.053333

In [48]:
len(y_pred1), len(y_pred2)

(87, 93)

In [49]:
y_pred = np.concatenate((y_pred1, y_pred2))

In [50]:
test['case_count'] = y_pred

In [51]:
test.to_csv('Output.csv', index=False)

In [52]:
test.head()

   id application_date  segment   case_count
0   1       2019-07-06        1  2870.553333
1   2       2019-07-07        1  1746.013333
2   3       2019-07-08        1  4109.833333
3   4       2019-07-09        1  3505.406667
4   5       2019-07-10        1  3673.040000

#### Decision Tree Regressor
#### segment 1

In [56]:
from sklearn.model_selection import StratifiedKFold,train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score

In [60]:
from sklearn.model_selection import train_test_split
X= train1_s1.drop(labels=['case_count'],axis=1)
y= train1_s1['case_count'].values

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)
X_train.shape,y_train.shape,X_test.shape,y_test.shape
from sklearn.ensemble import BaggingRegressor,RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
rf= DecisionTreeRegressor(random_state=1994)
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
print('MAPE:', mean_absolute_percentage_error(y_test,y_pred))

MAPE: 94.22442073949192